<h1>Course Form</h1>
    <form>
      <div class="form-group">
        <label for="coursename">Course Name</label>
        <input type="text" class="form-control" placeholder="Enter Course" name="coursename"
            [(ngModel)]="course.coursename">
      </div><br/>
      <div class="form-group">
      <label class="radio-inline" *ngFor="let g of getkeys()">
          <input type="radio" name="skillLevel" [(ngModel)]="course.skillLevel" [value]="g">{{g}}
        </label>
    </div><br/>
      <div class="form-group">
          <label for="duration">Duration</label>
          <input type="text" class="form-control" id="duration" placeholder="Enter Duration" name="duration"
              [(ngModel)]="course.duration">
        </div><br/>
        <div class="form-group">
            <label for="fee">Course Fee</label>
            <input type="text" class="form-control" id="fee" placeholder="Enter Course Fee" name="fee"
                [(ngModel)]="course.fee">
          </div><br/>
          <button type="submit" class="btn btn-primary"(click)="addCourse()">Submit</button>
          
           </form>