<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Project Practice</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a href="#">Home</a></li>
          <li  routerLinkActive="active" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="/employee/eform">Form</a></li>
                  <li routerLinkActive="active"><a routerLink="/employee/elist">List</a></li>               
              </ul>            
          </li>
          <li  routerLinkActive="active" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Course
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="/course/cform">Form</a></li>
                  <li routerLinkActive="active"><a routerLink="/course/clist">List</a></li>               
              </ul>            
          </li>
          <li  routerLinkActive="active" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Author
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li routerLinkActive="active"><a routerLink="/author/aform">Form</a></li>
                  <li routerLinkActive="active"><a routerLink="/author/alist">List</a></li>               
              </ul>            
          </li>
     </ul>
  </div>
</nav>
