<h1> Author List</h1>
<table class="table table-striped"><tr>
<th> Author Id </th>
<th> First Name </th>
<th> Last Name </th>
<!-- <th> Middle Name </th>
<th> Gender </th>
<th> Age </th> -->
</tr>
<tbody>
<tr *ngFor = "let author of authors">
<td>{{author._id}} </td>
<td>{{author.fName}}</td>
<td>{{author.lName}}</td>
<!-- <td>{{author.mname}}</td>
<td>{{getGender(author.gender)}}</td>
<td>{{author.age}}</td> -->
<td>
    <button class="btn btn-primary btn-sm" type="button" (click)="handleEdit(author._id)">Edit</button>
    <button class="btn btn-danger btn-sm" type="button" (click)="handleDelete(author._id)">Delete</button>
    
</td>
</tr></table><br/>
<button type="button" (click)="routeMetoAddPage()" class="btn btn-primary">Add New Author</button>
 